---
title: Home
layout: base.njk
---

<p style="text-align: center;"><i><b>"Via Lupe"</b></i> -- by way of grief, observing reality through the lens of grief</p>

<p style="text-align: center;"> My name is <span id="name-glitch" class="secret-name">William</span>. Found here are my <i><b>marginalia</b></i>, notes left forever to inhabit the margins. Words, pictures, projects, and secrets. <br>Anything deemed worthy of a word. Maybe more.</p>

<p style="text-align: center;"> Welcome to this place.. a playground of my mind.</p>
<p><br></p>
<div id="secret-area" style="height: 200px; display: flex; align-items: center; justify-content: center;">
  <a href="/lupe" id="lupe-link" class="ghost-link" lang="grc">λύπη</a>
</div>